/*In the next block we put the font family that we define by default in my page also we remove the margin*/
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
}

.header {
    font-size: 20px;
    width: auto;
    background-color: darkblue;
    color: whitesmoke;
    padding: 0.5% 10% 5% 10%;
}

.header h2 {
    margin: 2% 0;
}

.content{
    margin: 5% 5% 10% 5%;
    display: flex;
    justify-content: space-between;
}

.content hr{
    margin: 0 2%;
}

.subtitle{
    margin: 0;
    opacity: 0.6;
    font-weight: lighter;
}

.b1{
    font-weight: 300;
    font-size: 16px;
}

.table{
    border-radius: 6px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    border-color: silver;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: Black;
}

.table th, td {
    padding: 8px;
    text-align: left;
    border-right: 1px solid;
    border-bottom: 1px solid; /* Adding a border at the bottom of each cell */
    border-color: silver;
}

.table  tr:last-child td {
    border-bottom: none; /* Removing the border from the last row's cells */
}

.button{
    text-align: center;
    background-color: blue;
    color: whitesmoke;
    border-radius: 6px;
    padding: 10px;
    border-color: blue;
}

.button-small{
    text-align: center;
    background-color: blue;
    color: whitesmoke;
    border-radius: 6px;
    padding: 5px;
    border-color: blue;
}

.button:focus, .button.focus {
    box-shadow: rgba(243, 248, 250, 0);
}

.outline-button{
    align-items: center;
    text-align: end;
    background-color: whitesmoke;
    color: blue;
    border-radius: 6px;
    padding: 10px;
    border-color: darkblue;
}
.left-content{
    width: 25%;
}

.footer {
    background-color: #081134;
    position: relative;
    bottom: 0; /* This allow fix footer at the bottom */
    width: 100%;
    color: whitesmoke;
    text-align: center;
    padding: 5% 0;
    height: min-content;
    margin: 0;
}

.footer input{
    padding: 10px;
    border-radius: 6px;
    display: inline-block;
    margin: 2% 0.5%;
    vertical-align: middle;
}

.input {
    margin: 3px;
    border-radius: 6px;
    padding: 5px;
    width: auto;
    position: relative;
}

.row-space-between {
    padding: 10px;
    border-radius: 6px;
    margin: 2% 0.5% 2% 0;
    vertical-align: middle;
    display: flex; /* Utilizamos flexbox para distribuir los elementos horizontalmente */
    align-items: center;
    justify-content: space-between; /* Distribuirá el espacio disponible entre los elementos */
}

.space{
    margin-right: 2%;
}

.scroll {
    overflow: scroll;
    width: auto;
    position: relative;
}

.row {
    vertical-align: middle;
    display:  flex; /* Utilizamos flexbox para distribuir los elementos horizontalmente */
    align-items: center;
    justify-content: stretch; /* Distribuirá el espacio disponible entre los elementos */
}

.image{
    border-radius: 6px;
    height: 200px;
    width: 300px;
}

/*When do you want to modify something about one component you put the name of component wrapper and the the name
of the item that you want modify for example header h2*/
/*Padding || margin: top-right-bottom-left || vertical-horizontal*/
/*align-items: vertical alignment */
/*justify-content: space between the elements*/
/*display: flex-> put elements horizontal*/